{% extends 'base.html' %}

	{% block title %}Update Profile{% endblock %}

	{% block content %}
		{% if user.is_anonymous == False %}
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<h1 class="text-center my-3">Update Profile</h1>
					<form action="{% url 'todolist:update_profile' %}" method="post">
						{% csrf_token %}

						<div class="mb-3">
						    <label for="first_name">First Name: </label>
						    <input class="form-control" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="50" required>
						</div>
						<div class="mb-3">
						    <label for="last_name">First Name: </label>
						    <input class="form-control" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="50" required>
						</div>
						<div class="mb-3">
						    <label for="old_pass">Old Password: </label>
						    <input class="form-control" id="old_pass" type="text" name="old_pass" value="{{ old_pass }}" maxlength="50" required>
						</div>
						<div class="mb-3">
						    <label for="new_pass">New Password: </label>
						    <input class="form-control" id="new_pass" type="text" name="new_pass" value="{{ new_pass }}" maxlength="50" required>
						</div>
						<div class="mb-3">
						    <label for="check_new_pass">Confirm Password: </label>
						    <input class="form-control" id="check_new_pass" type="text" name="check_new_pass" value="{{ check_new_pass }}" maxlength="50" required>
						</div>

						<div class="text-center">
					    	<input class="btn btn-success" type="submit" value="Update Profile">
						</div>

					</form>
				</div>
			</div>
		</div>
		{% else %}
			<h1 class="text-center my-3">You are not authorized to access this page.</h1>
			<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
		{% endif %}
	{% endblock %}